apiVersion: v1
kind: Service
metadata:
  name: backend-service-public
  namespace: backend
spec:
  selector:
    app: backend
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  externalTrafficPolicy: Cluster
