apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 137505600553.dkr.ecr.us-east-1.amazonaws.com/frontend:latest
          ports:
            - containerPort: 80
          env:
            - name: VITE_BACKEND_URL
              value: "http://backend-service.backend.svc.cluster.local:8000"
            - name: VITE_NOTIFICATION_URL
              value: "http://notification-service.notification.svc.cluster.local:5000"
